.wrapper {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr 1fr;
    gap: 15px;
    grid-template-rows: auto;
    grid-template-areas:
    "title title title title"
    "empty empty socTitle workMediaTitle"
    "slogan slogan soc-icons work-icons";
}

.title {
    grid-area: title;
}

.wrapperLeft {
    align-self: center;

    padding: 1.5rem;
    grid-area: empty;
}

.socialTitle {
    grid-area: socTitle;
}
.workMediaTitle {
    grid-area: workMediaTitle;
}
.slogan {
    grid-area: slogan;
}

.leftWrapper {
    align-self: center;
}

.mediaItemsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 50px);

    align-items: center;
    justify-content: center;
}

.socialIcons {
    grid-area: soc-icons;
}
.workIcons {
    grid-area: work-icons;
}

.mediaItem {
    padding: .5rem;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-rows: auto;
        grid-template-areas:
    "title"
    "slogan"
    "socTitle"
    "soc-icons"
    "workMediaTitle"
    "work-icons";
    }
}