.cardItem {
    width: 100%;
    min-height: 9.5rem;
}

.cardItem__image {
    height: auto;

    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-size: cover;
}