.skillList {
    padding: 1rem 0;
}

.skillList__item {
    background-color: green;
}

.skillLevelLabel {
    margin: 0.5rem 0;

    text-align: left;
}

.skill__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    grid-gap: 1rem;
}

@media only screen and (width <= 640px) {
    .skill__items {
        grid-template-columns: repeat(1, 1fr);
    }
}