@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #7653FC;
  --yellow: #f1b23f;
  --red: rgb(232 28 86);
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray: #A4A4A4;
  --gray-dark: #6C7077;
  --white: white;
  --primary-hover: #6344DF;
  --red-light: #FEA291;
  --green: #007B48;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans KR", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  font-size: 2rem;
}

h3 {
  text-align: center;

  font-size: 1.75rem;
}

h4 {
  text-align: center;

  font-size: 1.25rem;
}

h2, h3, h4 {
  padding: 0.75rem 0;
}

main {
  max-width: 1600px;
  margin: auto;
}

@media only screen and (width <= 600px) {
  h2, h3, h4 {
    font-size: 1.25rem;
  }
}

.innerContainer {
  flex: 1;

  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem;
}
