.nav {
    display: flex;
}

.nav li {
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.text-left {
    text-align: left;
}

.infoBlock {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: inherit;
}

.formWrapper {
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 2fr;
}

.formInnerWrapper {
    display: flex;
    justify-content: center;
}