.up {
    width: 2.5rem;
    height: 2.5rem;
    /*background: var(--tw-text-opacity);*/
    box-shadow: 0 4px 4px rgba(0,0,0,0.05);
    transition: box-shadow ease-in 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    border: none;
}

.up:hover {
    box-shadow: 0 -4px 4px rgba(0,0,0,0.05);
}