.container {
    position: relative;

    display: grid;

    min-height: 10rem;
    margin: 6rem 2rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.animatedItem {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 40%;
}

.animatedItemClose {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}

.background {
    position: absolute;
    z-index: -1;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.backgroundActive {
    z-index: 2;
}