.projects {

}

.projectHeaderRow > div {
    flex-grow: 1;

    padding: 1rem 1.5rem;
}

.projectRow {
    display: grid;
    grid-template-columns: 12rem repeat(5, 1fr);
}

.projectTitle {
    font-weight: bold;
}