.projects {

}

.projectHeaderRow > div {
    flex-grow: 1;

    padding: 1rem 1.5rem;
}

.projectRow {
    display: grid;
    grid-template-columns: 1.2fr repeat(3, 0.6fr) 10rem 1fr;
}

.projectTitle {
    font-weight: bold;
}